@value dinosaur--serif, dinosaur--sans--normal from "stylesheets/shared/fonts.module.css";
@value dinosaur--snow from "stylesheets/shared/colors.module.css";
@value padding-default from "stylesheets/shared/dimensions.module.css";

.root {
  font-size: 75px;
  color: dinosaur--snow;
  display: flex;
  flex-direction: column;
  padding: 0 padding-default;
}

.head {
  composes: dinosaur--serif;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.head__text--1 {
  font-size: 36px;
}

.head__text--2 {
  font-size: 28px;
}

.head__text--3 {
  font-size: 47px;
}

.body {
  composes: dinosaur--sans--normal;
  font-size: 14px;
}
