@value dinosaur--serif, dinosaur--sans--normal from "stylesheets/shared/fonts.module.css";
@value dinosaur-snow from "stylesheets/shared/colors.module.css";
@value padding-default, margin-default, tablet-width from "stylesheets/shared/dimensions.module.css";

.root {
  font-size: 75px;
  color: dinosaur-snow;
  display: flex;
  flex-direction: column;
  padding: 0 padding-default;
}

.root__head {
  composes: dinosaur--serif;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: margin-default;
}

.root__head__text--1 {
  font-size: 29px;
  margin-left: -105px;
}

.root__head__text--2 {
  font-size: 18px;
  margin-left: -77px;
  margin-top: 4px;
}

.root__head__text--3 {
  font-size: 56px;
  line-height: 24px;
  margin-top: 3px;
}

.root__body {
  composes: dinosaur--sans--normal;
  font-size: 14px;
  margin-bottom: margin-default;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

@media screen and (min-width: tablet-width) {
  .root__head {
    flex-direction: row;
    justify-content: center;
    position: relative;
  }

  .root__head__text--1 {
    font-size: 36px;
    position: relative;
    margin-left: 0;
    top: -18px;
    margin-right: 7px;
  }

  .root__head__text--2 {
    font-size: 28px;
    margin: 0;
    position: absolute;
    left: 47px;
    top: 23px;
  }

  .root__head__text--3 {
    font-size: 75px;
  }
}
