@value content-max-width, padding--default from "stylesheets/shared/dimensions.module.css";
@value dinosaur--sans--bold from "stylesheets/shared/fonts.module.css";

.root {
  padding: 0 padding--default;
  composes: dinosaur--sans--bold;
  font-size: 14px;
  width: 100%;
  max-width: content-max-width;
  display: flex;
  position: relative;
  margin: 0 auto;
}

.root__left {
  flex: 0 1 auto;
}

.root__right {
  flex: 1 1 auto;
  display: inline-grid;
  grid-template-columns: min-content min-content;
  grid-gap: padding--default;
  align-items: center;
  justify-content: end;
}