.dinosaur--sans--normal {
  font-family: 'Open Sans';
  font-weight: 400;
  line-height: 1.57;
}

.dinosaur--sans--bold {
  composes: dinosaur--sans--normal;
  font-weight: 700;
}

.dinosaur--serif {
  font-family: Abril Fatface, cursive;
  letter-spacing: 0.3px;
  font-weight: normal;
}
